html
{
	height:99%;
	width:99%;
}

body
{
	height:99%;
	width:99%;
}

.center
{
	text-align: center;
}

.incline
{
	-webkit-transform: rotate(340deg);
	-moz-transform: rotate(340deg);
	-o-transform: rotate(340deg);
	writing-mode: lr-tb;
}

.splashscreen
{
	display:block;
	margin:auto;
}


.error {
	color: red;
	font-style: italic;
}

#teachMeButton
{
	width: 70%;
	height: 5%;
	background-color: #4444FF;
	text-weight: bold;
	font-size: 2em;
	margin-top: 1%;
}

/*
* <FORMS>////////////////////////////////////////////////////////////////////////////
*/

#registrationForm {
	display: block;
	margin: auto;
}

#registrationForm label{
	display: block;
	width: 150px;
	float: left;
}

.connexionElem{
	display:inline-block;
}


form.connexionElem{
	display:block;
	float: right;
	height: 100%;
}

input.connexionElem{
	display:block;
}

#newRecipeForm
{
	display: block;
	margin: auto;
	border: solid 2px #0000FF;
	text-align: left;
	padding-left: 30%;
}

.newRecipeFormElement1
{
	display:inline-block;
	width:40%;
}

.newRecipeFormElement2
{
	display:inline-block;
}

.newRecipeFormElement2 form
{
	display: inline-block;
}

/*
* </FORMS>////////////////////////////////////////////////////////////////////////////
*/

/*
* <MENU>////////////////////////////////////////////////////////////////////////////
*/

.bigbutton
{
	height : 50%;
	width : 20%;
	margin: 2%;
	font-size: 3em;
    font-weight: bold;

}

.button1
{
	background : #ff4444;
}

.button2
{
	background : #4444ff;
}

.button3
{
	background : #44ff44;
}

/*
* </MENU>/////////////////////////////////////////////////////////////////////////////////
*/

/*
* <HEADER>/////////////////////////////////////////////////////////////////////
*/

.header
{
	height: 20%;
}

.headerTitle
{
	height: 20%;
	width: 10%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.rightHeader
{
	height: 12%;
	width: 80%;
	display: inline-block;
	text-align: right;
	vertical-align: top;
}
.inscriptionHeader
{
	float:right;
}
.emergencyHeader
{
	background-color: #FF4444;
}

.recipesHeader
{
	background-color: #4444FF;
}

.administrationHeader
{
	background-color: #FF8000;
}

/*
* </HEADER>/////////////////////////////////////////////////////////////////////////////////
*/


