html
{
	height:100%;
	width:100%;
}

body
{
	height:100%;
	width:100%;
}

.splashscreen
{
	display:block;
	margin:auto;
}

label{
	display: block;
	width: 150px;
	float: left;
}

#registrationForm {
	display: block;
	margin: auto;
}
.bigbutton
{
	height : 50%;
	width : 20%;
	margin: 2%;
	font-size: 3em;
    font-weight: bold;

}

.button1
{
	background : #ff4444;
}

.button2
{
	background : #4444ff;
}

.button3
{
	background : #44ff44;
}

.incline
{
	-webkit-transform: rotate(340deg);
	-moz-transform: rotate(340deg);
	-o-transform: rotate(340deg);
	writing-mode: lr-tb;
}

.headerTitle
{
	height: 12%;
	width: 7%;
	display: inline-block;
}

.emergencyHeader
{
	background-color: #FF8000;
}

.recipesHeader
{
	background-color: #0000FF;
}

.administrationHeader
{
	background-color: #FF0000;
}
